{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'workspace/css/patients_style.css' %}">
{% endblock %}

{% block content %}
    <h1>Enrolled patients</h1>
    <div class="container">
        {% if patients %}
            {% for patient in patients %}
                <div class="patient-widget">
                    <div>
                        <svg style="color:grey; width:20px; transform:translateY(3px); margin-right:10px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                        </svg>
                        {{ patient.user.username }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No patients yet.</p>
        {% endif %}
    </div>
{% endblock %}