{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'health_records/css/health_records_style.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h1> {{ patient.account.full_name }} </h1>
            <h2> Health record </h2>
        </div>
        {% if record %}
        <div class="record-card">
            <div class="created-on">
                <h2 style="font-weight:500; color:#22223b; font-size:1.2rem; text-align:left;"> Updated {{ record.record_creation_date }} </h2>
                <div class="actions">
                    <a href="{% url 'health_records:record_history' patient.patient.id %}"> Record history </a>
                    {% if request.user.account.role == 'Doctor' %}
                        <a href="{% url 'health_records:add_record' %}"> Add record </a>
                    {% endif %}
                </div>
            </div>
            <div class="field">
                <h3> DATE OF BIRTH </h3>
                <h3> <span class="field-data">  {{ patient.account.date_of_birth }} </span> </h3>
            </div>
            <div class="field">
                <h3> ADDRESS </h3>
                <h3> <span class="field-data"> {{ record.address }} </span> </h3>
            </div>
            <div class="field">
                <h3> LANGUAGE </h3>
                <h3> <span class="field-data"> {{ record.language }} </span> </h3>
            </div>
            <div class="field">
                <h3> WEIGHT (KG) </h3>
                <h3> <span class="field-data"> {{ record.weight }} </span> </h3>
            </div>
            <div class="field">
                <h3> HEIGHT (CM) </h3>
                <h3> <span class="field-data"> {{ record.height }} </span> </h3>
            </div>
            <div class="field">
                <h3> ALLERGIES </h3>
                <h3> <span class="field-data"> {{ record.allergies }} </span> </h3>
            </div>
            <div class="field">
                <h3> CURRENT DOCTOR (CREATED BY)</h3>
                <h3> <span class="field-data"> Dr {{ record.current_doctor.user.account.full_name }} </span> </h3>
            </div>
            {% if record.extra_notes %}
                <div class="field-notes">
                    <h3> NOTES </h3>
                    <div class="notes">
                        <h3> <span class="field-data-notes"> {{ record.extra_notes|linebreaks }} </span> </h3>
                    </div>
                </div>
                <div class="field-notes">
                    <h3> MEDICATION HISTORY </h3>
                    <div class="notes">
                        <h3> <span class="field-data"> {{ record.medication_history|linebreaks }} </span> </h3>
                    </div>
                </div>
            {% endif %}
        </div>
        {% else %}
            {% if request.user.account.role == 'Doctor' %}
                <h2> This patient has no health records. </h2>
                <a style="margin-top:1rem;" href="{% url 'health_records:add_record' %}"> Add record </a>
            {% else %}
                <h2> Enroll with a doctor and ask them to add records. </h2>
            {% endif %}
        {% endif %}
        <a style="background:transparent; color:black;" href="{% url 'workspace:dashboard' %}" class="return-home">
            <svg style="width:20px; transform:translateY(4px); margin-right:5px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
            </svg>
            Return home
        </a>
    </div>
{% endblock %}