{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'symptom_diagnoser/css/symptom_diagnoser_style.css' %}">
{% endblock %}

{% block content %}
    <a href="{% url 'patient_workspace:patient_dashboard' %}" class="return-home">
        <svg style="width:30px; transform:translateY(6px); margin-right:10px;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>
        Return home
    </a>
    <div class="symptom-diagnoser-container">
        {% if response %}
            <div class="diagnosis-results">
                <h2> Symptom diagnosis: </h2>
                <h4 style="font-family:Inter;"> This does not replace medical advice from a health care professional. </h4>
                <p> {{ response|linebreaks }} </p>
            </div>
            <a href="{% url 'symptom_diagnoser:symptom_diagnoser' %}" class="rediagnose">Diagnose again</a>
        {% else %}
            <h1> Feeling under the weather? </h1>
            <p> Enter your symptoms below to get a list of possible conditions. </p>
            <form method="POST" action="{% url 'symptom_diagnoser:symptom_diagnoser' %}">
                {% csrf_token %}
                <textarea name="symptoms" placeholder="Describe your symptoms here..."></textarea>
                <button type="submit">Diagnose</button>
            </form>
        {% endif %}
    </div>
{% endblock %}