{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'reminders/css/add_reminder_style.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Create a reminder</h1>
        <form method="POST" action="" autocomplete="off">
            {% csrf_token %}
            <input type="text" id="title" name="title" placeholder="Reminder title" class="title" maxlength="70" required>
            <textarea id="content" name="content" placeholder="Content..." class="content" maxlength="5000" required></textarea>

            <fieldset>
                <legend style="color:grey;"> Due date </legend>
                <input type="date" id="due_date" name="due_date" placeholder="Due date" class="due_date">
                <p> Optional: If not set, the reminder will last indefinitely. </p>
            </fieldset>

            {% if request.user.account.role == 'Doctor' %}
                <fieldset>
                    <legend style="color:grey;"> Share with patient </legend>
                    <select name="share_recipient" value="{{ patient.user.username }}" id="{{ patient.user.username }}">
                        <option value="" disabled selected> <span style="color:grey;"> Select a patient </span> </option>
                        {% for patient in patients %}
                            <option value="{{ patient.user.username }}">{{ patient.user.username }}</option>
                        {% empty %}
                            <p>No patients available. <a href="{% url 'authenticate:add_patient' %}">Add a patient first</a>.</p>
                        {% endfor %}
                    </select>
                    <p> Optional: Both parties can edit the reminder, and view its status. </p>
                </fieldset>
            {% elif request.user.account.role == 'Patient' %}
                <fieldset>
                    <legend style="color:grey;">Share with doctor</legend>
                    <select name="share_recipient">
                        <option value="" disabled selected>Select your doctor</option>
                        {% for doc in doctor %}
                            <option value="{{ doc.user.username }}">{{ doc.user.username }}</option>
                        {% endfor %}
                    </select>
                    <p>Optional: Both parties can edit the reminder, and view its status.</p>
                </fieldset>
            {% endif %}
            {% block submit %}
                <input type="submit" value="Create reminder">
            {% endblock %}
        </form>
    </div>
{% endblock %}