body {
    overflow-x: hidden;
}

h1 {
    font-family: 'Inter';
    font-size: 64px;
    font-weight: 750;
    color: #22223b;
    letter-spacing: -0.01em;
    line-height: 100%;
}

p {
    font-family: 'Inter';
    color: #22223b;
    font-size: 22px;
    line-height: 150%;
    font-weight: 400;
    max-width: 90%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 61px;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 2%;
    box-sizing: border-box;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 61px;
    position: absolute;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 61px;
    width: 100%;
    flex: 1;
}

.navbar ul li a {
    font-family: 'Inter';
    font-size: 16px;
    color: #22223b;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    line-height: 1;
    vertical-align: middle;
}

.navbar ul li a:hover {
    background-color: #cccccc;
}

.auth-links {
    right: 2%;
    display: flex;
    align-items: center;
    gap: 16px;
    position: absolute;
}

.auth-links a {
    font-family: 'Inter';
    font-size: 16px;
    border-radius: 10px;
    color: white;
    padding: 10px;
    background-color: #0066cc;
    text-decoration: none;
}

.hero-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 61px);
    margin-top: 61px;
    flex-direction: column;
}

.hero-section-contents {
    width: 85%;
    display: grid;
    place-items: center;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
    gap: 61px;
}

.hero-section-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.CTA-button {
    margin-top: 40px;
    display: flex;
    justify-content: start;
    gap: 16px;
}

.CTA-button a {
    text-decoration: none;
    background-color: #0066cc;
    color: white;
    padding: 16px;
    border-radius: 10px;
    font-family: 'Inter';
    font-size: 1.25rem;
    cursor: pointer;
    letter-spacing: 0.01em;
}

.hero-image {
    height: 80vh;
    border-radius: 10px;
    z-index: 0;
}

.trust-badges {
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    border-radius: 50%;
    position: relative;
    top: 14vh;
}

.trust-badges p {
    justify-self: start;
    font-size: 17px;
}

.trust-logos {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 48px;
}

.trust-logos h1 {
    font-size: 32px;
    font-weight: 550;
    color: #22223b;
    font-family: 'Inter';
}

@media (max-width: 1200px) {
    .hero-section-contents {
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .hero-image {
        order: -1;
    }
}