body {
    overflow-x: hidden;
}

h1 {
    font-family: 'Atkinson Hyperlegible';
    font-size: 61px;
    color: #22223b;
    letter-spacing: -0.01em;
    line-height: 100%;
}

p {
    font-family: 'Atkinson Hyperlegible';
    color: #4a4e69;
    font-size: 16px;
    line-height: 150%;
}

.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 61px;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo img {
    position: absolute;
    height: 61px;
    left: 2%;
    top: 0;
}

.navbar ul {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 61px;
}

.navbar ul li a {
    font-family: 'Atkinson Hyperlegible';
    font-size: 16px;
    color: #22223b;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #cccccc;
}

.auth-links {
    position: absolute;
    right: 2%;
    display: flex;
    align-items: center;
    gap: 16px;
}

.auth-links a {
    font-family: 'Atkinson Hyperlegible';
    font-size: 16px;
    border-radius: 10px;
    color: #f8f9fa;
    padding: 10px;
    background-color: #4a4e69;
    text-decoration: none;
}

.hero-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 61px);
    margin-top: 61px;
    flex-direction: column;
}

.hero-section-contents {
    width: 85%;
    display: grid;
    place-items: center;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
    gap: 61px;
}

.hero-section-text {
    display: flex;
    flex-direction: column;
}

.CTA-button {
    margin-top: 61px;
    display: flex;
    justify-content: start;
    gap: 16px;
}

.CTA-button a {
    text-decoration: none;
    background-color: #22223b;
    color: white;
    padding: 16px;
    border-radius: 10px;
    font-family: 'Atkinson Hyperlegible';
    font-size: 1.25rem;
    cursor: pointer;
    letter-spacing: 0.01em;
}

.hero-image {
    width: 100%;
}

@media (max-width: 1200px) {
    .hero-section-contents {
        grid-template-columns: 1fr;
        gap: 32px;
    }
    .hero-image {
        order: -1;
    }
}