.navbar {
    display: flex;
    align-items: start;
    justify-content: start;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding: 30px;
    box-sizing: border-box;
    left: 0;
    top: 0;
    position: fixed;
    width: 25%;
    height: 100vh;
    flex-direction: column;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.navbar li {
    width: 100%;
    padding: 10px 20px;
    text-align: left;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
    font-family: 'Inter';
}

h1 {
    font-size: 24px;
    font-family: 'Inter';
}

p {
    font-size: 16px;
    font-family: 'Inter';
}

.patient-dashboard-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 25%);
    position: absolute;
    right: 0;
    padding: 30px;
    box-sizing: border-box;
}

.widget {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
}

